apiVersion: kubescheduler.config.k8s.io/v1
kind: KubeSchedulerConfiguration
profiles:
  - schedulerName: my-scheduler
leaderElection:
  leader: true
  resourceNamespace: kube-system
  resourceName: lock-object-my-scheduler

